<head>
    <style>
        .htmx-settling img {
  opacity: 0;
}
img {
 transition: opacity 300ms ease-in;
}
    </style>
</head>
<script src="https://unpkg.com/htmx.org@1.9.12"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/9071d6386d.js" crossorigin="anonymous"></script>

<!-- have a button POST a click via AJAX -->


<div id="online-friends" style="display:none;">
    <h2 class="category-title">Friends in Worlds you can join!</h2>
    <div class="row" id="online-friends-list">
      <!-- Online friends cards will be injected here -->
    </div>
  </div>

<div hx-get="/vrc" hx-trigger="load" hx-swap="innerHTML show:top" hx-target="#online-friends-list">
    <img  alt="Result loading..." class="htmx-indicator" width="150" src="https://htmx.org/img/bars.svg"/>
  </div>
<button hx-post="/lmao" hx-swap="outerHTML">
  Click Me
</button>